<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <section class="container flex center">
    <form action="/check" method="post">
      <label for="age">Idade:</label>
      <input type="text" name="age" id="age">
      <button type="submit">Check</button>
    </form>
  </section>
</body>

</html>
